# Tensura Access Transformer
# Makes goalSelector and targetSelector public so we can modify AI goals on PokemonEntity

public net.minecraft.world.entity.Mob f_21345_ # goalSelector
public net.minecraft.world.entity.Mob f_21346_ # targetSelector
public net.minecraft.world.entity.LivingEntity jumping # LivingEntity.jumping
